@charset "UTF-8";

.bg {
  /* The image used */
  background-image: url(../afbeeldingen/backgroundpictest.jpg);

  /* Full height */
  width: 100%;
  height: 1350px; // voorlopig laten staan, veranderen als website klaar is

  /* Center and scale the image nicely */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: hidden;
  animation: 25s linear 0s normal none infinite slideBg;
  animation-timing-function: ease-in-out;
}
@keyframes slideBg {
  0% {
    background-image: url(../afbeeldingen/backgroundpictest.jpg);
  }
  30% {
    background-image: url(../afbeeldingen/backgroundpictest2.jpg);
  }
  60% {
    background-image: url(../afbeeldingen/backgroundpictest3.jpg);
  }
  100% {
    background-image: url(../afbeeldingen/backgroundpictest.jpg);
  }
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: WoodHellCompany;
  src: url("font/WoodHellCompany.otf") format("opentype");
}
