@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
.bg {
  /* The image used */
  background-image: url('/backgroundpictest.jpg');

  /* Full height */
  width: 100%;
  height: 1350px; // voorlopig laten staan, veranderen als website klaar is

  /* Center and scale the image nicely */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: hidden;
  animation: 25s linear 0s normal none infinite slideBg;
  animation-timing-function: ease-in-out;
  transition: 0.5s5;
}
@keyframes slideBg {
  0% {
    background-image: url('/backgroundpictest.jpg');
  }
  30% {
    background-image: url('/backgroundpic3.jpg');
  }
  60% {
    background-image: url('/backgroundpictest3.jpg');
  }
  100% {
    background-image: url('/backgroundpictest.jpg');
  }
}
.add-pointer{
  cursor: pointer;
}
.retauratie-slogan{
  font-family: WoodHellCompany;
  padding-top: 30px!important;
}
div.bottom-restauratie{
  margin-top:0px!important;
  border-top: none;
}
.phone-contact{
  padding-left: 25px;
}
.restauratie-blok{
  background-color: rgba(0, 0, 0, 0)!important;
  margin-top: 0px!important;
  padding-top:0px!important;
  padding-bottom:0px!important;
}
.swiper-afbeelding img{
  border-radius: 10px!important;
  opacity: 0.8;
  transition: 0.5s;
  &:hover{
    opacity: 1;
  }
}
.phone-logo{
  opacity: 0.7;
  transition: 0.5s;
  &:hover{
    opacity: 1;
  }
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: WoodHellCompany;
  src: url("/WoodHellCompany.otf") format("opentype");
}
.contactFooter{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: black;
  padding: 50px;
  padding-bottom: 150px;
  color: white;
  .contactBlok{
    width: 300px;
    min-width: 300px;
    h5{
      font-weight: bold;
      font-size: 18px;
    }
  }
}
.onderwerp-bottom.flexxed.bottom-restauratie {
  margin-top: 0px!important;
  border-top: none;
}
.timmerwerken-h1{
  padding-bottom: 30px!important;
}
.disclaimer-title{
  font-family: WoodHellCompany;
  margin-top: 50px!important;
}
.p-disclaimer{
  font-size: 19px;
}
.info-page{
  max-width: 1500px;
  padding: 10%;
  padding-top:0px;
  padding-bottom: 0px;
}
.blokInfo{
  display: flex;
  flex-wrap: wrap;
  a{
    width: 100%;
    text-align: left;
    text-decoration: none;
    color: white;
    transition: 0.5s;
    margin-bottom:20px;
    opacity: 0.7;
    &:hover{
      color:green;
    }
  }
}