.comment-rating {
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  outline: none;
}
.score {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 3px;
}
