.footer {
  z-index: 15;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(5, 5, 5);
  color: white;
  text-align: center;
  display: flex;

  justify-content: center;
  align-items: center;
}
.instagram-logo {
  fill: white;
  width: 32px;
  height: 32px;
  padding-left: 10px;
  padding-right: 10px;
}
.footer-text {
  font-family: WoodHellCompany;
  vertical-align: middle;
  padding-top: 5px;
}
