.backgroundTable {
  margin: 15px;
  padding: 30px;
}

.slogan {
  display: flex;
  padding-top: 300px;
  justify-content: center;
  flex-wrap: wrap;
  .sloganText {
    fill: white;
    width: 180px;
    min-width: 175px;
    height: 30px;
    padding: 0px;
  }
  .sloganTextVanOnze {
    fill: white;
    width: 150px;
    min-width: 150px;
    height: 30px;
    padding: 0px;
  }
  .sloganTextToekomst {
    fill: white;
    width: 100px;
    min-width: 148px;
    height: 30px;
    padding: 0px;
  }
}

@media only screen and (max-width: 1600px) {
  .slogan {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 850px) {
}

@media only screen and (max-width: 380px) {
  .slogan {
    padding-top: 80px;
  }
}
