.backgroundTable {
  margin: 15px;
  padding: 30px;
}

.slogan {
  display: flex;
  padding-top: 250px;
  justify-content: center;
  flex-wrap: wrap;
  font-family: WoodHellCompany;
  .sloganText {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 45px;
    color: white;
    width: 60%;
    min-width: 175px;
    padding: 0px;
  }
}

@media only screen and (max-width: 1600px) {
  .slogan {
    padding-top: 80px;
    .sloganText {
      font-size: 35px;
    }
  }
}

@media only screen and (max-width: 850px) {
}

@media only screen and (max-width: 380px) {
  .slogan {
    padding-top: 20px;
  }
}
