//huge screen
@media only screen and (max-width: 2560px) {
  //restauratie
  .backgroundTableTheme {
    margin-right: 250px;
    margin-left: 250px;
  }
  .onderwerp-bottom {
    //height: 600px;
    display: flex;
  }
  //shop
  .shop-container {
    margin-left: 200px;
    margin-right: 200px;
  }
  .profiel-tabs-small {
    display: none;
  }
}
//bigscreen
@media only screen and (max-width: 1920px) {
  //restauratie
  .backgroundTableTheme {
    margin-right: 250px;
    margin-left: 250px;
  }
  //index
  .slogan {
    margin-top: 100px;
  }
  //shop
  .shop-container {
    margin-left: 200px;
    margin-right: 200px;
  }
  .profiel-tabs-small {
    display: none;
  }
}

//normal small screen
@media only screen and (max-width: 1550px) {
  //restauratie
  .redline {
    display: none;
  }
  .onderwerp-bottom {
    //height: 600px;
    display: flex;
  }
  .backgroundTableTheme {
    margin-right: 50px;
    margin-left: 50px;
  }
  //index
  .slogan {
    margin-top: 100px;
    .sloganText {
      font-size: 25px;
    }
    .sloganh1{
      font-size: 45px;
    }
  }
  //shop
  .shop-container {
    margin-left: 200px;
    margin-right: 200px;
  }
  .profiel-tabs-small {
    display: none;
  }
}

// ipad
@media only screen and (max-width: 768px) {
  //restauratie
  .redline{
    display: none;
  }
  .box {
    width: 200px;
  }
  .infoRestauratie {
    width: 80%;
  }
  .backgroundTableTheme {
    margin-left: 10px;
    margin-right: 10px;
  }
  //index
  .introductie-text{
    flex-wrap: wrap;
    flex-direction: column-reverse;
    font-size: 14px;
    p{
      width: 100%;
    }
  }
  .slogan {
    padding-top: 20px;
    margin-top: 60px;
  }
  // shop container
  .shop-container {
    margin-left: 10px;
    margin-right: 10px;
  }
  .profiel-tabs-small {
    display: none;
  }
}

// iphone 5
@media only screen and (max-width: 420px) {
  .infoRestauratie {
    width: 100%;
  }
  .darktext{
    padding: 10px;
  }
  .uspbutton{
    font-size: 12px;
  }
  .buttonmargin{
    padding-left: 5px;
    padding-right: 5px;
  }
  .onderwerp-bottom {
    padding-bottom: 100px;
  }
  .sloganh1{
    font-size: 45px;
  }
  .sloganText {
    font-size: 20px;
  }
  //profiel
  .profiel-tabs-wide {
    display: none;
  }
  .profiel-tabs-small {
    display: block;
  }
  .slogan {
    margin-top: 0;
  }
  .usp{
    font-size: 13px;
  }
}
.foto-beschrijving {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.foto-vergroot {
  width: 100%;
  //width: 800px;
  //margin-left: 300px;
  //margin-right: 300px;
}
.foto-size {
  width: 800px;
  padding: 0;
}
.previous {
  text-align: center;
  font-family: WoodHellCompany;
  color: white;
  font-size: 25px;
  margin: 0;
  &:hover {
    cursor: pointer;
  }
}
