//bigscreen
@media only screen and (max-width: 1920px) {
  //restauratie
  .onderwerp-bottom {
    display: none;
  }
  .backgroundTableTheme {
    margin-right: 250px;
    margin-left: 250px;
  }
  //index
  .slogan {
    margin-top: 250px;
  }
}

//normal small screen
@media only screen and (max-width: 1366px) {
  //restauratie
  .onderwerp {
    display: none;
  }
  .onderwerp-bottom {
    height: 600px;
    display: flex;
  }
  .backgroundTableTheme {
    margin-right: 50px;
    margin-left: 50px;
  }
  //index
  .slogan {
    margin-top: 50px;
    .sloganText {
      font-size: 35px;
    }
  }
}

// ipad
@media only screen and (max-width: 768px) {
  //restauratie
  .box {
    width: 200px;
  }
  .infoRestauratie {
    width: 80%;
  }
  .backgroundTableTheme {
    margin-left: 10px;
    margin-right: 10px;
  }
  //index
  .slogan {
    padding-top: 20px;
  }
}

// iphone 5
@media only screen and (max-width: 320px) {
  .infoRestauratie {
    width: 100%;
  }
}
