//huge screen
@media only screen and (max-width: 2560px) {
  //restauratie
  .backgroundTableTheme {
    margin-right: 250px;
    margin-left: 250px;
  }
  .onderwerp-bottom {
    //height: 600px;
    display: flex;
  }
  //shop
  .shop-container {
    margin-left: 200px;
    margin-right: 200px;
  }
  .profiel-tabs-small {
    display: none;
  }
}
//bigscreen
@media only screen and (max-width: 1920px) {
  //restauratie
  .backgroundTableTheme {
    margin-right: 250px;
    margin-left: 250px;
  }
  //index
  .slogan {
    margin-top: 100px;
  }
  //shop
  .shop-container {
    margin-left: 200px;
    margin-right: 200px;
  }
  .profiel-tabs-small {
    display: none;
  }
}

//normal small screen
@media only screen and (max-width: 1550px) {
  .diensten-restauratie.resto.onderwerp-bottom.flexxed.bottom-restauratie.timmerwerken-bottom {
    padding-top: 0px!important;
    padding-bottom: 50px;
  }
  .diensten-restauratie.diensten-restauratie-2.onderwerp-bottom.flexxed.bottom-restauratie.timmerwerken-bottom {
    padding-bottom: 50px;
  }
  .project-title-white{
    margin-right: none;
    margin: auto!important;
    width: 100%;
    max-width: 100%!important;
    text-align: center!important;
    &:before{
      top: 98%!important;
      height: 3px!important;
    }
    &:after{
      height: 3px!important;
      width: 300px;
    }
  }
  .project-titel{
    margin-right: none;
    margin: auto!important;
    width: 100%;
    max-width: 100%!important;
    text-align: center!important;
    &:before{
      top: 98%!important;
      height: 3px!important;
    }
    &:after{
      height: 3px!important;
      width: 300px;
    }
  }
  h2.one-line{
    padding-top: 95px!important;
  }
  .diensten-restauratie.onderwerp-bottom.flexxed.bottom-restauratie.timmerwerken-bottom{
    justify-content: center!important;
  }
  .diensten-restauratie-2{
    flex-direction: row-reverse;
    flex-direction: column-reverse;
  }
  .afbeeldingen-box{
    justify-content: center;
    flex-wrap: wrap;
    img{
      width: 100%!important;
      min-width: 100px!important;
    }
    .slide-afbeelding.diensten-afbeeldingen{
      min-width: 100px;
    }
  }
  .slide-afbeelding.diensten-afbeeldingen {
   
}
  //restauratie
  .redline {
    display: none;
  }
  .onderwerp-bottom {
    //height: 600px;
    display: flex;
  }
  .backgroundTableTheme {
    margin-right: 50px;
    margin-left: 50px;
  }
  //index
  .slogan {
    margin-top: 100px;
    .sloganText {
      font-size: 25px;
    }
    .sloganh1{
      font-size: 45px;
    }
  }
  //shop
  .shop-container {
    margin-left: 200px;
    margin-right: 200px;
  }
  .profiel-tabs-small {
    display: none;
  }
}

// ipad
@media only screen and (max-width: 768px) {
  .contactFooter .contactBlok {
    width: 300px;
    min-width: 250px;
    font-size: 14px;
}
  h2.introductie-titel.titel-twee.title-restauratie {
    font-size: 16px;
}
.buttons-template {
  padding-left: 10%;
  padding-right: 10%;
}
.usp.usp-button-group {
  padding-top: 50px;
}
  //restauratie
  .redline{
    display: none;
  }
  .box {
    width: 200px;
  }
  .infoRestauratie {
    width: 80%;
  }
  .backgroundTableTheme {
    margin-left: 10px;
    margin-right: 10px;
  }
  //index
  p.introductie-titel.titel-twee {
    font-size: 18px;
    padding-top:15px;
}
  ol._2jvtI{
    padding: 10px 20px;
  }
  ol._2jvtI li a{
    font-size: 14px;
  }
  .introductie-text{
    flex-wrap: wrap;
    flex-direction: column-reverse;
    font-size: 14px;
    p{
      width: 100%;
    }
  }
  .slogan {
    padding-top: 20px;
    margin-top: 60px;
  }
  // shop container
  .shop-container {
    margin-left: 10px;
    margin-right: 10px;
  }
  .profiel-tabs-small {
    display: none;
  }
}

// iphone 5
@media only screen and (max-width: 420px) {
  ol._2jvtI li a{
    font-size: 10px;
  }
  ol._2jvtI {
    padding-top: 3px;
}
  .services-image-blocks {
    flex-wrap: wrap;
  }
  .infoRestauratie {
    width: 100%;
  }
  .darktext{
    padding: 10px;
  }
  .uspbutton{
    font-size: 12px;
  }
  .buttonmargin{
    padding-left: 5px;
    padding-right: 5px;
  }
  .onderwerp-bottom {
    padding-bottom: 100px;
  }
  .sloganh1{
    font-size: 45px;
  }
  .sloganText {
    font-size: 28px;
  }
  //profiel
  .profiel-tabs-wide {
    display: none;
  }
  .profiel-tabs-small {
    display: block;
  }
  .slogan {
    margin-top: 0;
  }
  .usp{
    font-size: 13px;
  }
}
.foto-beschrijving {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.foto-vergroot {
  width: 100%;
  //width: 800px;
  //margin-left: 300px;
  //margin-right: 300px;
}
.foto-size {
  width: 800px;
  padding: 0;
}
.previous {
  text-align: center;
  font-family: WoodHellCompany;
  color: white;
  font-size: 25px;
  margin: 0;
  &:hover {
    cursor: pointer;
  }
}
