.navfullscreen {
  z-index: 15;
  display: block; // hier display nog aanpassen
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 25px;
  //position: fixed;
  //left: 0;
  //top: 0;
  //width: 100%;
}
.navsmallscreen {
  display: none; // hier display nog aanpassen
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}
.textdropdown {
  text-align: center;
}

.navbar {
  margin-top: 0;
  margin-bottom: 0;
  height: 80px;
  display: flex;
  align-items: center;
  list-style-type: none;
  font-family: WoodHellCompany;
  font-size: 20px;
  .marginLogo {
    margin-right: auto;
    padding: 0;
    .logo {
      fill: white;
      width: 100%;
      min-width: 150px;
    }
  }
  a {
    text-decoration: none;
  }
  p {
    color: rgb(168, 168, 168);
    &:hover {
      color: rgb(255, 255, 255);
    }
  }
  .linkrestauratie {
    width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 50px;
  }
  .linkschrijnentimmerwerken {
    width: 220px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .linktreecycle {
    width: 110px;
    padding-left: 10px;
  }
  .linkcontact {
    width: 70px;
    padding-right: 10px;
  }

  .linkmenu {
    width: 20px;
    padding-right: 25px;
    padding-left: 10px;
    .menuicoon {
      fill: white;
      width: 30px;
      height: 30px;
      padding-right: 0;
    }
  }
}

.iphonesize {
  display: flex;
}

.show {
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
  color: black;
  z-index: 13;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #222222;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  margin-left: -150px;
  margin-right: 25px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media only screen and (max-width: 1250px) {
  .navbar {
    padding-left: 5px;
  }
  .linkwinkelkar {
    margin-left: 50px;
  }
  .navfullscreen {
    display: none;
  }
  .navsmallscreen {
    display: block;
  }
}

@media only screen and (max-width: 380px) {
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
  }
  .dropdown-content {
    margin-left: -118px;
  }
}
