.profiel-tab-button-actief {
  font-family: WoodHellCompany;
  color: white;
  font-size: 20px;
  background-color: black;
  border: none;
  padding: 15px;
  cursor: pointer;
}

.profiel-tab-button {
  font-family: WoodHellCompany;
  cursor: pointer;
  color: grey;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 15px;
  &:hover {
    color: white;
  }
}
.profile-container {
  background-color: black;
  padding-bottom: 50px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.profile-title {
  margin: auto;
  text-align: center;
  font-size: 25px;
  color: white;
  width: 100%;
  min-width: 175px;
  padding: 0px;
}
.profiel-tab-icoon {
  fill: white;
  width: 15px;
  height: 18px;
  padding-left: 10px;
}

.profiel-tabs-small {
  p {
    font-family: WoodHellCompany;
  }
}
