.infoRestauratie {
  font-family: 'Montserrat', sans-serif;
  color: white;
  width: 60%;
  text-align: center;
}
.slide-afbeelding {
  background: none;
  display: flex;
  justify-content: center;
  margin: auto;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.2);
  }
}
.sloganTheme {
  display: flex;
  padding-top: 30px;
  justify-content: center;
  flex-wrap: wrap;
  font-family: WoodHellCompany;
}
.backgroundTableTheme {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin-top: 40px;
  margin-left: 400px;
  margin-right: 400px;
  padding: 30px;
}
iframe {
  border-top: 0px;
}
.redline{
  position: absolute;
  opacity: 0.8;
  top: 0;
  left: 30%;
  margin-right: auto;
  width: 50px;
  height: 8.8%;
  background-color: red;
}
.diagonal-box {
	background-image: linear-gradient(45deg, black, red);
  transform: skewY(150deg) rotate(210deg);
} 
.content { 	
	max-width: 100px;
    margin: 0 auto; 
    transform: skewY(12deg);
}
.swiper-afbeelding {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.darktext{
  color: black;
  text-align: left;
  max-width: 320px;
  justify-content: space-around;
  padding-top: 5px;
  margin: 0px 30px 0px 30px;
}
.buttongroup{
  margin: 0px 30px 0px 30px;
}
.usp-group{
  margin: 0px 30px 0px 30px;
}
.usp-button-group{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.onderwerp {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  a {
    text-decoration: none;
    &:hover {
      transition: 0.5s;
      background-color: black;
      border-radius: 25px;
      .box {
        transition: 0.5s;
        color: green;
        .onderwerp-icoon {
          transition: 0.5s;
          color: green;
          fill: green;
        }
      }
    }
  }
  .box {
    width: 300px;
    margin: 20px;
    text-align: center;
    color: white;
    .onderwerp-titel {
      font-family: WoodHellCompany;
    }
    .onderwerp-icoon {
      height: 100px;
      width: 100px;
      fill: rgb(216, 216, 216);
    }
  }
}
.onderwerp-icoon{
  transition: 0.5s;;
}
.onderwerp-bottom {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  display: none;
  padding-top: 50px;
  padding-bottom: 50px;
  a {
    text-decoration: none;
    transition: 0.5s;
    &:hover {
      background-color: rgb(230, 230, 230);
      border-radius: 25px;
      .box {
        transition: 0.5s;
        color: green;
        .onderwerp-icoon {
          transition: 0.5s;
          color: green;
          fill: green;
        }
      }
    }
  }
  .box {
    width: 300px;
    margin: 20px;
    text-align: center;
    color: black;

    .onderwerp-titel {
      font-family: WoodHellCompany;
    }
    .onderwerp-icoon {
      height: 100px;
      width: 100px;
      fill: black;
    }
  }
}
