.buttons-template {
  .Button1 {
    margin-bottom: 10px;
    font-size: 14px;
    width: 100%;
    a {
      transition: 1.5s;
      padding-top: 10px;
      padding-bottom: 10px;
      &:hover {
        color: black;
        font-weight: bold;
      }
    }
  }
  h5 {
    font-size: 14px;
  }
}
.title-restauratie {
  font-weight: 100;
}
.onderwerp-bottom.flexxed.bottom-restauratie {
    justify-content: space-evenly;
}
.timmerwerken-bottom{
    background-color: black;
    color: white;
    padding:0px;
    .slide-afbeelding {

    }
}
.diensten-afbeeldingen {
  margin:10px;
  &:hover{
    transform: none;
  }
  img{
    border-radius: 0px!important;
    border: 0px!important;
  }
}
.diensten-restauratie{
  justify-content: right!important;
}
.project-titel{
  text-align: right;
  margin-left:auto;
  font-family: WoodHellCompany;
  font-weight: 100;
  max-width: 300px;
  position: relative;
  &:before{
    content: "";
    display: block;
    width: 100%;
    height: 7px;
    background-image: linear-gradient(357deg, #a50000, #000000);
    left: 0;
    top: 72%;
    position: absolute;
  }
  &:after{
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background-image: linear-gradient(357deg, #a50000, #000000);
    right: 0;
    top: 61px;
    position: absolute;
  }
}
.afbeeldingen-box{
  display: flex;
  padding-top: 10px;
  padding-bottom: 5px;
  img{

  }
}
.project-title-white{
  text-align: left;
  margin-right:auto;
  font-family: WoodHellCompany;
  font-weight: 100;
  max-width: 300px;
  position: relative;
  &:before{
    content: "";
    display: block;
    width: 100%;
    height: 7px;
    background-image: linear-gradient(357deg, rgb(255, 255, 255), #a50000);
    left: 0;
    top: 72%;
    position: absolute;
  }
  &:after{
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background-image: linear-gradient(357deg, rgb(255, 255, 255), #a50000);
    right: 0;
    top: 61px;
    position: absolute;
  }
}
.diensten-restauratie h2.project-title-white {
  padding-top: 112px;
  padding-bottom: 30px;
}
ol._2jvtI{
  flex-wrap: wrap;
}
.diensten-restauratie h2.project-title-white.two-lines {
  padding-top: 100px;
  padding-bottom: 30px;
}
.background-diensten{
  width: 100%;
  height: 150px;
  background-size: cover;
  background-image: url("/static/BigPhoto/duifhuis-bokrijk-6.jpg");
}
.diensten-restauratie-2{
  background-color: white;
  h2{
    color: black;
    padding-top:50px;
    padding-bottom: 30px;
  }
}
.diensten-restauratie h2{
  padding-top:100px;
    padding-bottom: 30px;
}
.diensten-restauratie.resto.onderwerp-bottom.flexxed.bottom-restauratie.timmerwerken-bottom{
  img{
    opacity: 0.5;
    transition: 0.5s;
    &:hover{
      opacity: 1;
    }
  }
}