.button-to-delete {
  font-family: WoodHellCompany;
  margin-top: 15px;
  font-size: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: darkred;
  border: none;
  &:active {
    background-color: lightcoral;
  }
}

.button-buy {
  font-family: WoodHellCompany;
  margin-top: 15px;
  font-size: 20px;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: green;
  border: none;
  &:active {
    background-color: lightgreen;
  }
  &:hover {
    cursor: pointer;
  }
}
